/* 
   References:
   - https://ghanhass.github.io/myfiddle/336
   - https://codepen.io/eHtmlu/pen/BaodGVp
   - https://www.quackit.com/html/html_editors/scratchpad/?example=/css/grid/examples/photo_gallery_auto-fill_evenly_sized_images
*/

#left_menu {
    background-color: hotpink;
    overflow: auto;
    text-align: center;
}

#right_art_gallery {
    background-color: lightblue;
    overflow: auto;
    text-align: center;    
}

#right_art_gallery img {
    padding: 5px;
    background: white;
    border: 2px solid #BBB;
    margin: 7px 14px 7px 0;
    width: 160px;
}

#right_art_gallery img:hover {
    border: 2px solid red;
}

body {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

html, body {
    height: calc(100vh - 1rem); /* margins btw */
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white
}

a {
    color: yellow
}

a:hover {
    color: red;
}
