/* 
   References:
   - https://ghanhass.github.io/myfiddle/336
   - https://codepen.io/eHtmlu/pen/BaodGVp
   - https://www.quackit.com/html/html_editors/scratchpad/?example=/css/grid/examples/photo_gallery_auto-fill_evenly_sized_images
*/

#left_menu {
    float: left;
    position: fixed;
    width: 30%;
}

#right_art_gallery {
    float: right;
    width: 70%;
}

#right_art_gallery img {
    padding: 5px;
    background: white;
    border: 2px solid #BBB;
    margin: 7px 14px 7px 0;
    width: 160px;
}

#right_art_gallery img:hover {
    border: 2px solid red;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white
}

a {
    color: yellow
}

a:hover {
    color: red;
}
